<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="helloworld.example.com.lg_bttracker_alpha">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_3"
        android:label="Hello"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:excludeFromRecents = "true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".BT_List"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name=".Register_BT"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".DeviceControlActivity" />

        <service
            android:name=".BluetoothLeService"
            android:enabled="true" />

        <activity android:name=".BTtracker_information" />
        <activity
            android:name=".NotifyDisconnected"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".AlarmActivity"></activity>
        <activity
            android:name=".SetDevice"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <receiver
            android:name=".StartReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="STARTReceiver">

            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

        </receiver>
    </application>

</manifest>
